#content {
    margin-top: 60px;
}

#qc {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
}

#compare {
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
}

#target-clustering {
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
}

.plot {
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
    margin-right: 5px;
}

#score-plot {
    height: 255px;
}

#rna-plot {
    height: 300px;
}

.table-striped td, .table-striped th {
    border-top: none !important;
    border-bottom: none !important;
}

#frontpage {
    text-align: center;
}

#overlap-plot {
    display: inline;
}

h4.panel-heading {
    border-bottom: 1px solid #EEE;
}

.venntooltip {
  position: absolute;
  text-align: center;
  width: 128px;
  background: #333;
  color: #ddd;
  padding: 2px;
  border: 0px;
  border-radius: 8px;
  opacity: 0;
}

.shadow-svg {
    display: block;
}

li.submenu {
    padding-left: 1em;
}

.scrollable-menu {
    height: auto;
    max-height: 500px;
    overflow-x: hidden;
}

#tabcontentcontainer{

border-top: none;
border-right: 1px solid #778;
width: 280px;
/* Insert Optional Height definition here to give all the content a unified height */

border: 0px solid black;
background: lightblue;
}

.tabcontent{
display:block;
}

td.sidebar_header{
    font-family: Verdana;
    font-size: 16;
    color: black;
    font-weight: bold;
}

td.sidebar_subheader {
    font-family: Verdana;
    font-size: 12;
    color: black;
    font-weight: bold;
}

tr.spaceUnder>td {
  padding-bottom: 1.5em;
}

#tabList .tab-content {
  color : black;
  background-color: lightblue;
  padding : 5px 15px;
  height: 700px;
}

#tabList .nav-pills > li > a {
  border-radius: 4px 4px 0 0 ;
}

#submit_btn, #load_btn {
  width: 80px;
}

.well ul li{ /* first well;*/
list-style-type:none;
}
.well ul li:before{
font-family: 'Glyphicons Halflings';
content: "\e067";
position: absolute;
left: 25px;
}
