{% extends "layout.html" %}
{% block breadcrumbs %}
{% endblock %}
{% block content %}
<div class="container">
    <h2>FAQs:</h2>
</div>

<div class="container">

     <div>
        <h3>1. Format of sgRNA location file.</h3>
        <p>sgRNA location file is a tab-delimited text file without file header. Five columns are required: chromosome name,
        gRNA start, gRNA stop, gRNA ID and strand. The gRNA IDs should be the same with those in read count file.</p>
        <pre>
chr2	11143961	11143981	s_7648	-
chr3	186801168	186801188	s_46884	+
chr20	46053591	46053611	s_50992	+
chr3	46705812	46705832	s_57876	+
chr19	46634669	46634689	s_23309	-
chr7	108514201	108514221	s_42887	+</pre>
    </div>

    <div>
        <h3>2. What is beta-score?</h3>
        <p>Beta-score is a measurement of gene selections similar to the term of log fold change in differential
            expression analysis. A positive beta-core means a gene is positively selected in a condition, vice versa.
            Detailed explanation of beta-score please refer to
            <a href="https://www.ncbi.nlm.nih.gov/pubmed/26673418" target="_blank">MAGeCK-VISPR</a> paper.</p>
    </div>

    <div>
        <h3>3. Problem caused by browser cache.</h3>
        <p>Brower usually caches the JavaScript, CSS and other data to improve speed and user experience. When
            CRISP-view is updated, user needs to empty the previous cache in the browser. For Safari, press
            <kbd>Opt</kbd>+<kbd>Cmd</kbd>+<kbd>E</kbd> to empty cache.</p>
    </div>

</div>
{% endblock %}