{% extends "layout.html" %}
{% block breadcrumbs %}
{% endblock %}
{% block content %}

<div class="container">

  <div class="row">
    <div class="col-md-12">
      <div id="frontpage">
        <h1> Visualization of CRISPR screens </h1>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
    <div id="tabList">
      <ul  class="nav nav-pills">
			<li class="active"><a href="#divUpload" data-toggle="tab">Upload Files</a></li>
			<li><a href="#divLoad" data-toggle="tab">Load Session</a></li>
		</ul>

      <div class="tab-content clearfix">
        <div class="tab-pane active" id="divUpload">
          <form id="form_upload" method=post enctype=multipart/form-data action="{{ url_for('check_upload') }}">

      <table  border="0" cellpadding="2" width="100%" align="top" >
        <tr>
          <td class="sidebar_header"><br>Upload Files<br><br></td>
        </tr>
        <tr>
          <td class="sidebar_subheader">Step 1: Select Species <font color="red">*</font></td>
        </tr>
        <tr>
          <td>
            <p align="left" style="word-spacing: 0; line-height: 100%; text-indent: 0; margin: 0">
              <font face="Verdana" size="1">
                <select  ID="IDT" size="1" name="species" >

                  <option value ='HOMO_SAPIENS'>HOMO_SAPIENS</option>

                  <option value ='ARABIDOPSIS_THALIANA'>ARABIDOPSIS_THALIANA</option>

                  <option value ='SACCHAROMYCES_CEREVISIAE'>SACCHAROMYCES_CEREVISIAE</option>

                  <option value ='CAENORHABDITIS_ELEGANS'>CAENORHABDITIS_ELEGANS</option>

                  <option value ='DROSOPHILA_MELANOGASTER'>DROSOPHILA_MELANOGASTER</option>

                  <option value ='MUS_MUSCULUS'>MUS_MUSCULUS</option>

                  <option value ='RATTUS_NORVEGICUS'>RATTUS_NORVEGICUS</option>

                  <option value="NA">Not Sure </option>

                </select>
              </font>
            </p><br>
          </td>
        </tr>

        <tr>
          <td title="*.gene_summary.txt" data-toggle="tooltip" class="sidebar_subheader">Step 2: Gene Summary <font color="red">*</font></td>
        </tr>
        <tr class="spaceUnder">
          <td><input id="gene" type=file name=gene></td>
        </tr>

        <tr>
          <td title="*.count_normalized.txt" data-toggle="tooltip" class="sidebar_subheader">Step 3: Normalized Count <font color="red">*</font></td>
        </tr>
        <tr class="spaceUnder">
          <td><input id="count" type=file name=count></td>
        </tr>

        <tr>
          <td title="*.sgrna_summary.txt" data-toggle="tooltip" class="sidebar_subheader">Step 4: sgRNA Summary </td>
        </tr>
        <tr class="spaceUnder">
          <td><input type=file name=sgrna></td>
        </tr>

        <tr>
          <td class="sidebar_subheader">Step 5: sgRNA Location</td>
        </tr>
        <tr>
          <td><input type=file name=library></td>
        </tr>
        <tr>
          <td><a href="/faq">sgRNA location file format</a></td>
        </tr>

        <tr>
          <td title="If checked, the session will be saved to server, which can be resumed later with a session number."
              data-toggle="tooltip" class="sidebar_subheader"><br>Step 6: Select Save Session</td>
        </tr>
        <tr>
          <td><input type=checkbox name=save> Save session to server</td>
        </tr>

        <tr><td>
        <table>
          <tr><td class="sidebar_subheader"><br>
            Step 7: Submit List </td>
          </tr></table>
          <input id="submit_btn" type="submit" value="Submit">
        </td></tr>

      </table>
      </form>
        </div>

        <div class="tab-pane" id="divLoad">
          <form id="form_load" action="{{ url_for('load_session') }}" method="POST">
            <table  border="0" cellpadding="2" width="100%" align="top" >
              <tr>
                <td class="sidebar_header"><br>Load Session<br><br></td>
              </tr>
              <tr>
                <td class="sidebar_subheader">Step 1: Input Session No <font color="red">*</font></td>
              </tr>
              <tr>
                <td><textarea id="session_num" type="text" cols="30" rows="3" name="session_num"></textarea></td>
              </tr>
              <tr>
                <td><a class="demo" href="#" style="text-decoration: underline;">Load demo</a></td>
              </tr>

              <tr><td>
                <table>
                  <tr><td class="sidebar_subheader"><br>
                    Step 2: Load Session </td>
                  </tr></table>
                <input id="load_btn" type="submit" value="Load">
              </td></tr>
            </table>
          </form>
        </div>
      </div>
      </div>
    </div>

    <div class="col-md-9">
      <div class="row">
        <p>
        <h4>VISPR-online is an on-line tool to interactively visualize and analyze the results of
          <a href="https://www.ncbi.nlm.nih.gov/pubmed/25476604" target="_blank">MAGeCK</a> and
        <a href="https://www.ncbi.nlm.nih.gov/pubmed/26673418" target="_blank">MAGeCK-VISPR</a>.</h4>
        <h4>What can we do with VISPR-online:</h4>
          <div class="well col-sm-12">
	      <ul>
            <li>Explore gene essentiality</li>
            <li>View gRNAs in their genomic context</li>
            <li>View normalized gRNAs counts</li>
            <li>Inspect <i>P</i> values</li>
            <li>View gene in Ensembl</li>
            <li>Analyze genes interaction network via <a href="https://www.ncbi.nlm.nih.gov/pubmed/20576703" target="_blank">GeneMANIA</a></li>
            <li>Gene functional analysis via <a href="https://www.ncbi.nlm.nih.gov/pubmed/19192299" target="_blank">GOrilla</a></li>
            <li>Save and resume session</li>
          </ul>
	      </div>
      </p>
      </div>
      <div class="row">
        <span class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"></span>
        Load <a id="demo_btn" class="demo" href="#">demo</a> here to explore VISPR-online.
      </div>
      <div class="row">
        <div class="col-xs-12 text-center">
        <div id="widgetIframe"><iframe width="75%" height="413" src="http://cistrome.org/~ybcui/piwik/index.php?module=Widgetize&action=iframe&widget=1&moduleToWidgetize=UserCountryMap&actionToWidgetize=visitorMap&idSite=2&period=range&date=2018-01-21,{{ today }}&disableLink=1&widget=1" scrolling="no" frameborder="0" marginheight="0" marginwidth="0"></iframe></div>
        </div>
      </div>
    </div>
  </div>

</div>
<script src="/static/jquery.blockUI.js"></script>
<script>

$(function(){
  $("#submit_btn").click(function (e) {
    var fileName = $("#gene").val();
    //console.log(fileName.split('.'))
    if(!fileName) {
      alert("No gene summary file selected.");
      e.preventDefault();
    }
    else {
      var fileName = $("#count").val();
      if(!fileName) {
        alert("No normalized count file selected.");
        e.preventDefault();
      }
    }
  });

  $("#form_upload").submit(function (e) {
    e.preventDefault();
    var formData = new FormData(this);

    $.ajax({
        url: "{{ url_for('check_upload') }}",
        type: 'POST',
        data: formData,
        success: function (data) {
            //console.log(data)
            if (data["valid"]) {
              $("#session_num").val(data["session"])
              $("#form_load").submit()
            }
            else {
              alert(data["message"])
            }
        },
        cache: false,
        contentType: false,
        processData: false
    });
  });

  $("#load_btn").click(function (e) {
    var session = $("#session_num").val();
    e.preventDefault();
    if(!session) {
        alert("No session number input.");
    }
    else {
        $.getJSON("/check/" + session, function (data) {
        //console.log(data);
        if(data) {
            $("#form_load").submit()
        }
        else {
            alert("No session " + session + " found in the server.");
        }
    });
    }
  });

  $(".demo").click(function (e) {
    session_num = "demo"
    $.ajax({
        url: "/check/"+session_num,
        type: 'GET',
        success: function (data) {
            //console.log(data)
            if (data) {
              $("#session_num").val(session_num)
              $("#form_load").submit()
            }
        },
        cache: false,
        contentType: false,
        processData: false
    });
  });
});

//$("form").submit(function() {
  //$(this).block()
  // cannot usr jQuery blockUI with normal form submitting
  //$.blockUI({
  //    message: '<h1>Please waite ...</h1>',
  //    css: { border: '3px solid #a00' }
  //});
//});
</script>
{% endblock %}
