{% extends "layout.html" %}
{% block breadcrumbs %}
{% endblock %}
{% block content %}

<div class="container">

  <div class="row">
    <div class="col-md-12">
      <div id="frontpage">
        <h1> Visualization of CRISPR screens </h1>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
    <div id="tabList">
      <ul  class="nav nav-pills">
			<li class="active"><a href="#divUpload" data-toggle="tab">Upload Files</a></li>
			<li><a href="#divLoad" data-toggle="tab">Load Session</a></li>
		</ul>

      <div class="tab-content clearfix">
        <div class="tab-pane active" id="divUpload">
          <form id="form_upload" method=post enctype=multipart/form-data action="{{ url_for('check_upload') }}">

      <table  border="0" cellpadding="2" width="100%" align="top" >
        <tr>
          <td class="sidebar_header"><br>Upload Files<br><br></td>
        </tr>
        <tr>
          <td class="sidebar_subheader">Step 1: Select Species <font color="red">*</font></td>
        </tr>
        <tr>
          <td>
            <p align="left" style="word-spacing: 0; line-height: 100%; text-indent: 0; margin: 0">
              <font face="Verdana" size="1">
                <select  ID="IDT" size="1" name="species" >

                  <option value ='HOMO_SAPIENS'>HOMO_SAPIENS</option>

                  <option value ='ARABIDOPSIS_THALIANA'>ARABIDOPSIS_THALIANA</option>

                  <option value ='SACCHAROMYCES_CEREVISIAE'>SACCHAROMYCES_CEREVISIAE</option>

                  <option value ='CAENORHABDITIS_ELEGANS'>CAENORHABDITIS_ELEGANS</option>

                  <option value ='DROSOPHILA_MELANOGASTER'>DROSOPHILA_MELANOGASTER</option>

                  <option value ='MUS_MUSCULUS'>MUS_MUSCULUS</option>

                  <option value ='RATTUS_NORVEGICUS'>RATTUS_NORVEGICUS</option>

                  <option value="NA">Not Sure </option>

                </select>
              </font>
            </p><br>
          </td>
        </tr>

        <tr>
          <td title="*.gene_summary.txt" class="sidebar_subheader">Step 2: Gene Summary <font color="red">*</font></td>
        </tr>
        <tr class="spaceUnder">
          <td><input id="gene" type=file name=gene></td>
        </tr>

        <tr>
          <td title="*.count_normalized.txt" class="sidebar_subheader">Step 3: Normalized Count <font color="red">*</font></td>
        </tr>
        <tr class="spaceUnder">
          <td><input id="count" type=file name=count></td>
        </tr>

        <tr>
          <td title="*.sgrna_summary.txt" class="sidebar_subheader">Step 4: sgRNA Summary </td>
        </tr>
        <tr class="spaceUnder">
          <td><input type=file name=sgrna></td>
        </tr>

        <tr>
          <td class="sidebar_subheader">Step 5: sgRNA Library</td>
        </tr>
        <tr>
          <td><input type=file name=library></td>
        </tr>

        <tr>
          <td class="sidebar_subheader"><br>Step 6: Select Save Session</td>
        </tr>
        <tr>
          <td><input type=checkbox name=save> Save session to server</td>
        </tr>

        <tr><td>
        <table>
          <tr><td class="sidebar_subheader"><br>
            Step 7: Submit List </td>
          </tr></table>
          <input id="submit_btn" type="submit" value="Submit">
        </td></tr>

      </table>
      </form>
        </div>

        <div class="tab-pane" id="divLoad">
          <form id="form_load" action="{{ url_for('load_session') }}" method="POST">
            <table  border="0" cellpadding="2" width="100%" align="top" >
              <tr>
                <td class="sidebar_header"><br>Load Session<br><br></td>
              </tr>
              <tr>
                <td class="sidebar_subheader">Step 1: Input Session No <font color="red">*</font></td>
              </tr>
              <tr>
                <td><textarea id="session_num" type="text" cols="30" rows="3" name="session_num"></textarea></td>
              </tr>

              <tr><td>
                <table>
                  <tr><td class="sidebar_subheader"><br>
                    Step 2: Load Session </td>
                  </tr></table>
                <input id="load_btn" type="submit" value="Load">
              </td></tr>
            </table>
          </form>
        </div>
      </div>
      </div>
    </div>

    <div class="col-md-9">
      <div class="row">
        <p>
        VISPR-Online is an on-line tool to interactively visualize and analyze the results of MAGeCK and MAGeCK-VISPR.
        User can explore gene essentiality, gRNAs position relative to gene, and normalized gRNAs count.
        In addition, VISPR-Online provides various way to further explore the results. Such visualizing gene in Ensembl,
        analyzing genes interaction network via GeneMANIA, functional analysis with GOrilla, and so on.
      </p>
      </div>
      <div class="row">
        <input id="demo_btn" type="submit" value="demo">
      </div>
    </div>
  </div>

</div>
<script src="/static/jquery.blockUI.js"></script>
<script>

$(function(){
  $("#submit_btn").click(function (e) {
    var fileName = $("#gene").val();
    //console.log(fileName.split('.'))
    if(!fileName) {
      alert("No gene summary file selected.");
      e.preventDefault();
    }
    else {
      var fileName = $("#count").val();
      if(!fileName) {
        alert("No normalized count file selected.");
        e.preventDefault();
      }
    }
  });

  $("#form_upload").submit(function (e) {
    e.preventDefault();
    var formData = new FormData(this);

    $.ajax({
        url: "{{ url_for('check_upload') }}",
        type: 'POST',
        data: formData,
        success: function (data) {
            //console.log(data)
            if (data["valid"]) {
              $("#session_num").val(data["session"])
              $("#form_load").submit()
            }
            else {
              alert(data["message"])
            }
        },
        cache: false,
        contentType: false,
        processData: false
    });
  });

  $("#load_btn").click(function (e) {
    var session = $("#session_num").val();
    e.preventDefault();
    if(!session) {
        alert("No session number input.");
    }
    else {
        $.getJSON("/check/" + session, function (data) {
        //console.log(data);
        if(data) {
            $("#form_load").submit()
        }
        else {
            alert("No session " + session + " found in the server.");
        }
    });
    }
  });

  $("#demo_btn").click(function (e) {
    session_num = "2b8fd284-3063-4010-9531-47fd5ce26a29"
    $.ajax({
        url: "/check/"+session_num,
        type: 'GET',
        success: function (data) {
            //console.log(data)
            if (data) {
              $("#session_num").val(session_num)
              $("#form_load").submit()
            }
        },
        cache: false,
        contentType: false,
        processData: false
    });
  });
});

//$("form").submit(function() {
  //$(this).block()
  // cannot usr jQuery blockUI with normal form submitting
  //$.blockUI({
  //    message: '<h1>Please waite ...</h1>',
  //    css: { border: '3px solid #a00' }
  //});
//});
</script>
{% endblock %}
