<!DOCTYPE html>
<html lang="en">
<head>
<title>VISPR-online</title>
<link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
<script src="/static/jquery.min.js"></script>
<script src="/static/bootstrap/js/bootstrap.min.js"></script>

<script src="/static/bootstrap-select.min.js"></script>
<link rel="stylesheet" href="/static/bootstrap-select.min.css">

<link rel="stylesheet" href="/static/dropdowns-enhancement.css">

<script src="/static/d3.v3.min.js"></script>
<script src="/static/vega.js"></script>

<script src="/static/jquery.dynatable.js"></script>
<link rel="stylesheet" href="/static/jquery.dynatable.css">

<script src="/static/feature-viewer.js"></script>
<link rel="stylesheet" href="/static/feature-viewer.min.css">

<script src="/static/d3.parcoords.js"></script>
<link rel="stylesheet" href="/static/d3.parcoords.css">

<script src="/static/chord2.js"></script>

<script src="/static/venn.min.js"></script>

<link rel="stylesheet" href="/static/style.css">

<script>
var font = "Helvetica,Arial"
vg.config.render.font = font;
vg.config.axis.titleFont = font;
vg.config.axis.tickLabelFont = font;
vg.config.legend.labelFont = font;
vg.config.legend.titleFont = font;

function add_caption(el) {
    $(el).tooltip({
        container: "body",
        title: "Click for caption and download.",
        placement: "top"
    });
    $(el).popover({
        container: "body",
        html: true,
        trigger: "click",
        delay: { "show": 50, "hide": 50 },
        content: function() {
            $(el).find("svg").attr("version", 1.1)
                           .attr("xmlns", "http://www.w3.org/2000/svg")
                           .attr("xmlns:xlink", "http://www.w3.org/1999/xlink")
                           .css("font-family", font);
            var data = btoa('<?xml version="1.0"?>' + $(el).find("svg").parent().html());
            var name = "{{ screen.name }}." + $(el).attr("id");
            return $(this).attr("data-desc") +
            '<hr/><div class="text-right"><a download="' + name +
            '.svg" class="btn btn-default download-plot-svg" href="data:image/svg+xml;base64,' +
            data + '">Download SVG</a></div>';
        }
    });
    $(el).on("show.bs.popover", function() {
        $('[data-toggle="popover"]').not(el).popover("hide");
    });
}

function vega_draw(chart, el, url) {
    var plt = chart({el: el, renderer: "svg"}).update();

    add_caption(el);
    return plt;
}

</script>
<!-- Piwik -->
<script type="text/javascript">
  var _paq = _paq || [];
  /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="//cistrome.org/~ybcui/piwik/";
    _paq.push(['setTrackerUrl', u+'piwik.php']);
    _paq.push(['setSiteId', '2']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<!-- End Piwik Code -->

</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">VISPR-online</span></a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                {% if screens %}
                <li><a href="/target-clustering/{{ screen.name }}">Results</a></li>
                {% endif %}
                <li><a href="/faq">FAQs</a></li>
            </ul>
            <ul class="nav navbar-right">
                <li>
                    <ol class="breadcrumb navbar-text" style="font-style: italic; padding: 0px; background: none">
                    {% block sessionnum %}
                    {% endblock %}
                    </ol>
                    <ol class="breadcrumb navbar-text" style="padding: 0px; background: none">
                    {% block breadcrumbs %}
                    {% endblock %}
                    </ol>
                </li>
            </ul>
        </div>
        </div>
    </div>
</nav>

<div id="content" class="container-fluid">
    {% block content %}
    {% endblock %}
</div>
<script>
$('[data-toggle="tooltip"]').tooltip({container: 'body', trigger: "hover"})
$("input[name=screen]").change(function() {
    window.location = "/" + $(this).val();
});
</script>
</body>
</html>
